<div id="follow_container">
    <%= form_for profile, :html => { :id => 'follow_form' } do |f| -%>
       <%= f.hidden_field :id %>
     <% end -%>
     <button class="btn primary" type="submit" id="follow">Follow</button>
</div>