.white_box
  %h3 Account Overview
  .table
    .table_row.first
      .left Current Balance
      .right $11,562.11
      .clear
    .table_row
      .left Money On Loan
      .right
        $2,000
        %span.note (Funding 4 companies)
      .clear
    .table_row.last
      .left Reserved Funds
      .right $437.89
      .clear
  = link_to '#', :class => 'add_funds_button' do
    %span Add Funds To Your Account