.white_box
  %h3 Account Overview
  .table
    .table_row.first
      .left Available Balance
      .right $0
      .clear
    .table_row
      .left Balance on Loan
      .right $0
      .clear
    .table_row.last
      .left Total Balance
      .right $0
      .clear
  = link_to page_path('add_funds'), :class => 'btn btn-green-add' do
    Add Funds To Your Account