= paginate @messages, :remote => true, :params => @kaminari_params
%ul.messages_list
  = render :partial => 'messages/message', :collection => @messages
= paginate @messages, :remote => true, :params => @kaminari_params