.white_box
  .widget.grid
    %h4 Business Connections
    %ul
      - connections.each do |connection|
        %li{class: list_classes(connection, connections)}
          = link_to image_tag('35x35.png', class: 'thumbnail'), url_for(connection), class: 'widget_picture'
          .widget_description
            = link_to connection.name, url_for(connection), class: 'widget_name'
            %p.widget_address= connection.address
          .clear
    - if @business.latest_connections.count > 3
      = link_to "See more...", connections_business_path(@business), class: 'widget_more_link'
    .clear