.white_box
  .widget.grid#business_followers
    %h4 Lenders Following Business
    %ul
      - followers.each do |follower|
        %li{:class => list_classes(follower, followers)}
          = image_tag 'dummy_status_picture.png', :class => :follower_avatar
          .follower_description
            = link_to follower.name, url_for(follower), :class => :follower_name
            %p.follower_address= follower.address
          .clear
    = link_to "See more lenders following...", followers_business_path(@business), :class => 'more follower_more_link'
    .clear