- user_business = current_user.businesses.first
- if user_business.connected_to? business
  = link_to cancel_business_path(user_business, business), remote: true, id: 'cancel_business_connection', class: 'btn btn-danger' do
    %i.icon-remove.icon-white
    Disconnect
- elsif user_business.requested_to? business
  = button_tag type: 'button', class: 'btn', disabled: 'disabled' do
    %i.icon-eye-close
    Business connection pending
- else
  = render partial: 'businesses/request', locals: {business: user_business}
  = link_to '#connect', id: 'business_connect_button', class: 'btn btn-success' do
    %i.icon-eye-open.icon-white
    Connect as business