%h3 ABOUT US
%br
%p
  %strong LendSocial is our attempt to make operating a small business easier.
%p Our team is working tirelessly to to develop a small business ecosystem that works for you.
%p
  :plain
    If there are helpful features or benefits that you’d like to see added,
    then please #{link_to 'contact us', page_path('contact')}.
