%h3 ADD FUNDS TO MY ACCOUNT
%br
%p
  If you would like to add funds to your account so that you can lend to a local business,
  please find a local business in our “Lend” section or on the “See Recent Loan Requests” widget.  
%p
  Once you’ve found a business you’d like to support, leave a comment in the comment box
  about how much you’re lending (or if it’s anonymous just say anonymous amount)
  and then send a check to made out to “LendSocial” to 1619 Fairview #3, Berkeley CA 94703.
  Make sure the check includes your printed name.  
%p
  We’ll make sure the business gets credited toward their fundraising total
  and return the money to you in equal amounts over 3 years.