%h3 BORROWER INSTRUCTIONS
%p
  We are accepting loan applications!
  Since we are in a limited beta, we will be offering loans for reduced interest rates and with no application fees!
  If you are interested please read below and email us at #{mail_to('apply@lendsocial.com')} to request an application.
%p
  LendSocial will offer term loans in amounts from $5,000 to $50,000.
  The term of these loans can be 1, 2, 3 or 5 years.
  Maximum term for loans less than $25,000 is 3 years.
%h4 In order to apply for a loan from LendSocial you must:
%ul
  %li Represent a business that has been in business for over 3 years.
  %li Use the loan for business purposes (no consumer loans)
  %li The loan cannot be used for real estate development or construction
%p Be prepared to offer the following information:
%ul
  %li Fully completed application
  %li 3 years financial statements for business and guarantor
  %li Interim Financial Statement (after June)
  %li 3 years tax returns for business and guarantor
  %li 3 months bank statements for business and guarantors