%h3 CONTACT
%br
%p
  If you would like to apply for a loan, please contact us at #{mail_to('apply@lendsocial.com')}.
%p 
  :plain
    If you have a question, or would like to make a suggestion or can help us in any way,
    please contact us at #{mail_to('lendsocial@lendsocial.com')}.
