%h3 MY INVESTMENTS
%br
%h4 Under construction!
%br
%p 
  :plain
      We are currently developing this section to automatically track all the loan pledges
      you dedicate to your favorite small businesses. We will let you know when it is completed.
