%h3 LENDER INSTRUCTIONS
%br
%p
  %em Some of our functionality is still under construction while we're in limited beta. We’ll have on-line credit card and e-check capability soon. For the time, being here is how to lend to this business:
%h4 To Make a Loan Pledge
%ul
  %li In the comments section on the business profile page, please leave a message saying how much you intend to lend, and why you are supporting this business.
  %li Send a check made out to “LendSocial, Inc.” to 1619 Fairview #3, Berkeley CA 94703.  After we receive your check, we’ll let you and the business owner know, by acknowledging your pledge and thanking you in a comment on your message.
%p 
  :plain
    If you would prefer your pledge to be anonymous on the site, then please just send the check without posting a message, and we’ll acknowledge it without your name. Note that your name will still be provided to the business owner, so you can redeem your reward.