<div id="publish_container">
    <%= form_for loan, :html => { :id => 'loan_form' } do |f| -%>
       <%= f.hidden_field :id %>
     <% end -%>
     <button class="btn success" type="submit" id="unpublish">Published</button>
</div>
