<h1>Listing recently published loans</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Business</th>
    <th>Published Date</th>
    <th>Description</th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.try(:business).try(:name) %></td>
    <td><%= loan.publishedDate %></td>
    <td><%= loan.loan_purpose.description %></td>
  </tr>
<% end %>
</table>

<br />

