%h2#notice
  Loan is 
  - if @loan.published_date.blank?
    unpublished. 
  -else 
    published. 
  - if notice.blank?
    =notice
  
%ul.loan_process
  %li.first
    %span.loan_process.step_1
      %p
        Complete our quick and
        easy loan request form.
      %span.num 01
  
  %li
    %span.loan_process.step_2.active
      %p
        A representive will call or 
        email you for more info.
      %span.encircled_arrow.blue
      %span.num 02
  
  %li

    %span.loan_process.step_3
      %p
        Once approved, accept and
        publish your loan on LS.
      %span.encircled_arrow.orange
      %span.num 03
  
  %li

    %span.loan_process.step_4
      %p
        Start receiving microloans 
        from your community!
      %span.encircled_arrow.green
      %span.num 04




