#datepicker
  background: url("/assets/common-ui/date-picker-icon.gif") no-repeat top right
  
ul.loan_process  
  list-style-type: none
  width: 100%
  li
    float: left
    width: 243px
    height: 245px
    background: #000

  li.loan_process_step_1
    background: url("/assets/loan-apply/pencil.png") no-repeat
