@import "base"

.widget
  ul
    list-style-type: none
    margin: 0
    .widget_picture
      +float-left
      margin: 0 10px 10px 0
      img
        background: #fff
    .widget_description
      +float-left
      .widget_name
        color: #0f7c81
        font-weight: bold
      .widget_address
        color: #000
  .widget_more_link
    color: #2e2e2e
    font-size: 10px
    font-weight: bold
    text-decoration: none
    +float-right
    padding: 8px 0 0