#index_page
  .left
    = image_tag 'http://placehold.it/750x500'
  .right
    %h2 Sign In
    = render 'signin_form'
    %h2
      Not Registered Yet?
      %br
      Sign Up!
    = render 'signup_form'
  .clear