#footer
  .footer_border
    #footer_wrapper
      %ul
        %li
          = link_to 'About Us', '#'
        %li
          = link_to 'Contact', '#'
        %li
          = link_to 'Terms & Conditions', '#'