#footer
  .footer_border
    #footer_wrapper
      %ul
        %li
          = link_to 'About Us', page_path('about')
        %li
          = link_to 'Contact', page_path('contact') 
        %li
          = link_to 'Terms & Conditions', #
        %li
          = link_to 'Privacy Policy', #          